.fighters_table_head {
	background:url(/module/mmavictor/static/image/fighters_table_head.gif) no-repeat 0 0;
	height:35px;
	font-weight:bold;
	color:#fff;
}
.fighters_table_head td {
	vertical-align:top;
	border-right:solid 1px #DEC7C3;
	border-left:solid 1px #DEC7C3;
}
.fighters_table_head td div {
	padding:12px 0 0 12px;
}
.fighters_table_head {
	border-radius: 10px 10px 10px 10px;
}
.summary_table{
	width:180px;
	height:273px;
	padding:0 0 0 0;
}
